* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4FDFF;
}

/* wrapper for header, main og footer */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: none;
}
/* wrapper for header, main og footer */

#header {
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.069);
    background-color: #F4FDFF;

}

/* Nav tag posisjonering */
#header-nav-bar-elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    min-height: 80px;
    margin-top: 10px;
}
/* Nav tag posisjonering */

/* Header elementer styling */

/* Logo link og bilde style */
#img-text-logo-header {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

#mech-switch-img {
    height: 4rem;
    width: 4rem;
    margin: 8px;
}

.header-logo {
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 3px 3px 5px #CDB4DB;
}

a.header-logo {
    color: rgb(1, 0, 16);
    text-decoration: none;
    cursor: pointer;
}
/* Logo link og bilde style */

/* Nav bar produkter link styling */
#nav-product-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    max-width: 1000px;
    margin: 25px 0;
    padding: 6px;
}
/* Nav bar produkter link styling */

/* Profil logg inn og handlekurv */
#header-nav-bar-profil-shopping-cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20px 40px 20px 20px;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 20px;
    padding: 6px 10px;
    box-shadow: 0;
    transition: 0.5s;
}

#header-nav-bar-profil-shopping-cart:hover {
    box-shadow: 2px 2px 4px rgb(103, 103, 103);
    transition: 0.5s;
}
/* Profil logg inn og handlekurv */

/* Header elementer styling */

/* Main elementer */
#main-body {
    display: flex;
    flex: 1;
}
/* Main elementer */

/* Footer elementer styling */
#footer-box {
    width: 100%;
    min-height: 150px;
    border-top: 1px solid rgba(0, 0, 0, 0.069);
    background-image: linear-gradient(transparent, #dce8eb);
}

#footer-text-and-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 50px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(169, 169, 169);
}
/* Footer elementer styling */

/* Nav bar anchor tag style */
a.nav-bar-product-link {
    padding: 0 6px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 0, 16);
    text-decoration: none;
    cursor: pointer;
}

a.nav-bar-product-link:hover {
    text-decoration: underline;
}

/* Nav bar anchor tag style */

/* Anchor tag i footer style */
a.footer-link {
    padding: 6px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 0, 16);
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s;
}

a.footer-link:hover {
    background-color: rgb(168, 167, 173);
    transition: 0.5s;
}
/* Anchor tag i footer style */